body {
  background-color: #20202A;
  font-family: Helvetica, sans-serif;
  color: white;
}

h1 {
  font-size: 2rem;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

@media screen and (max-width: 1200px){
  .container {
    width: 100%;
  }
}